body {
    font-family: "Montserrat", sans-serif;
}

.info {
    background: #f3f3f3;
    padding: 60px 20px;
}

.info-container {
    max-width: 1050px;
    margin: 0 auto;
    text-align: center;
}

.info-container h2 {
    font-size: 26px;
    line-height: 1.45;
    font-weight: 800;
    color: #111;
    margin-bottom: 28px;
}

.info-container p {
    max-width: 980px;
    margin: 0 auto 28px;

    font-size: 16px;
    line-height: 1.7;
    font-weight: 500;
    color: #333;
}

.info-btn {
    background: #000;
    color: #00ff99;

    border: none;
    border-radius: 6px;

    padding: 16px 42px;

    font-size: 18px;
    font-weight: 800;

    cursor: pointer;
    transition: 0.3s;
}

.info-btn:hover {
    background: #00ff99;
    color: #111;
}

/* Info Section Responsiveness */
@media (max-width: 768px) {
    .info {
        padding: 60px 20px;
    }

    .info-container h2 {
        font-size: 24px;
        margin-bottom: 25px;
        line-height: 1.4;
    }

    .info-container p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .info-btn {
        padding: 15px 40px;
        font-size: 18px;
        border-radius: 6px;
    }
}